{% extends "core/base.html" %}
{% block title %}{% endblock %}

{% block header %}Políticas de Autor{% endblock header %}
{% block content %}


{% load static %}
{% for policies in policies %}

  <div class="single-product section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="{{policies.image.url}}" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <p>{{policies.content}} </p>
          <h5>{{policies.published|date:"DATE_FORMAT"}}</h5>
        <!-- <li><span>Categoría</span> <a href="#">War</a>, <a href="#">Battle</a>, <a href="#">Aventure</a></li>-->
        {% for category in policies.category.all %}
        <em><a href="{% url 'category' category.id %}" class="link">{{category.name}}</a> {% if not forloop.last %},{% endif %}</em>
        {% endfor %}
        </div>
        <div class="col-lg-12">
          <div class="sep"></div>
        </div>
      </div>
    </div>
  </div>

{% endfor %}
{% endblock %}
